# Project exclude paths
/target/
/Screenshots
allure-report/
target/
target/surefire-reports/
target/surefire-reports/RdveikalsTest.txt
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/RdveikalsTest.txt
